.shirt-containers img {
    height: 250px;
}

.shirt-containers {
    border: 2px solid gray;
    border-radius: 10px;

}

.shirt-containers button {
    padding: 3px;
    margin-bottom: 5px;
}

.shirt-containers button:hover {
    background-color: orange;
    cursor: pointer;
}