.home-parent-class {
    display: grid;
    grid-template-columns: 3fr 1fr;
}



h1 {
    line-height: 60%;
    font-size: 40px;
}

.text-container {
    margin-top: 50px;
}

.button-live-demo {
    padding: 15px 30px;
    background-color: rgb(191, 218, 209);
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

.button-live-demo:hover {
    background-color: rgb(169, 184, 178);
    border-radius: 10px;
}

.review-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.review-button {
    margin: 20px;
    padding: 15px 30px;
    border: none;
    background-color: rgb(114, 125, 134);
    border-radius: 10px;
    font-size: 17px;
}

.review-button:hover {
    background-color: rgb(114, 125, 234);
}

@media screen and (max-width:980px) {
    .img-container img {
        width: 300px;

    }

    .review-parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:660px) {
    .img-container img {
        width: 300px;

    }

    .home-parent-class {
        display: block;
    }

    .review-parent {
        grid-template-columns: repeat(1, 1fr);
    }
}